.redes {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 0.5rem;
}

.hero {
    display: flex;
    background-image: url(Imagenes/TarjetaMobiliario02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40rem;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 0rem;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    /* margin: 2rem; */
    max-width: 100%;
}

.ubicacion {
    color: white;
    display: flex;
}

.imgMain {
    display: block;
    /* Hace que la imagen sea un bloque para aplicar márgenes */
    width: Auto;
    /* Hace que la imagen ocupe todo el ancho de su contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
    margin: 0 auto;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(126, 116, 116, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.concontenido-hero p {
    font-size: 2.6rem;
}

.Secciones {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titulo {
    color: white;
    font-family: monospace;
    font-size: 2.8rem;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
}

.titulo span {
    font-size: 2.5rem;
    color: #5f6a6a;
    font-family: monospace;
}

body {
    /* margin: 0 auto; */
    margin-top: 8rem;
    font-family: "Lato";
    color: #333;
    /* display: flex;
  justify-content: center; */
}

.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.container-items {
    justify-content: center;
    display: grid;
    background-color: transparent;
}

.item {
    border-radius: 10px;
    max-width: 15rem;
    min-height: 32rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column: span 1;
    /* Por defecto, cada item ocupa una columna */
}

.item_sur {
    background-color: transparent;
    grid-column: span 2;
    display: grid;
    align-items: center;
    justify-content: center;
    /* Este item ocupa el ancho de dos columnas */
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item_sur:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
}

.item_sur img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.item_sur:hover img {
    transform: scale(1.02);
}

tengo el .info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 25px;
}

@media (min-width: 370px) {
    .container-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
}

@media (min-width: 768px) {
    .container-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
}

.whatsapp-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    /* background-color: #25d366; */
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 3rem;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-button img {
    width: 100%;
    background-color: transparent;
    margin-bottom: 20px;
}

.whatsapp-button:hover img {
    transform: scale(1.1);
    /* Agrandar la imagen un 10% */
}